<div class="form-group" id="select_disease">
  <label>Select Disease</label>
  <select name="appointments[disease_id]" class="form-control">
    <% @diseases.each do |disease| %>
      <option value="#{<%= disease.id %>}"><%= disease.name %></option>
    <% end %>
  </select>
</div>